.hero-blur {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 54%;
  z-index: 1;

  backdrop-filter: blur(36px);
  -webkit-backdrop-filter: blur(36px);

  background: linear-gradient(
    180deg,
    rgba(255, 254, 250, 0) 0%,
    rgba(255, 254, 250, 0.05) 100%
  );

  -webkit-mask: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 46%,
    rgba(0, 0, 0, 1) 100%
  );

  mask: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 46%,
    rgba(0, 0, 0, 1) 100%
  );
}
